#a1,#a2,#a3,#a5,#a6,#a7{
    color:#0b4d57;
    font-size: 20px;
}
#a1:hover{
    color: white;
    
}
#a2:hover{
    color: white;
    
}
#a3:hover{
    color: white;
    
}
#a5:hover{
    color: white;
    
}
#a6:hover{
    color: white;
    
}
#a7:hover{
    color: white;
    
}
.dropdown-menu{
    background-color:rgb(16,111,126,0.6);

}

img{
    margin-left: 20px;
    margin-right: 20px;
}
#b1{
    margin: 2px;
    border-radius: 25px;
    background-color: #0b4d57;
}

#b1:hover{
    color: #106f7e;
}
#bmiembro:hover{
    color:#0b4d57;

}
#c2{
    width: 31%;
}

@media (max-width: 991px) {
    li{
        text-align: center;
    }
    #c2{
        width: 100%;
    }
    #nomusu{
        margin-bottom: 5%;
        text-align: left;
    }
    #opciones{
        text-align: center;

    }
    
}

#navbar{
    background-color: #17a2b8;
}
#nomusu{
    text-align: center;
    margin: 0px;
    padding: 0px;
 

}
#a4{
    color:white;
    display:inline-block;
    vertical-align: middle;

}