#a1{
    color:#0b4d57;
    font-size: 20px;
}
#a1:hover{
    color: white;
    
}
.dropdown-menu{
    background-color:rgb(16,111,126,0.6); ;

}
#navbarDropdown{
    color:#0b4d57;
    font-size: 20px;
}
img{
    margin-left: 20px;
    margin-right: 20px;
}
#b1{
    margin: 2px;
    border-radius: 25px;
    background-color: #0b4d57;
}
#bmiembro{

}
#b1:hover{
    color: #106f7e;
}
#bmiembro:hover{
    color:#0b4d57;

}
#c2{
    width: 31%;
}

@media (max-width: 768px) {
    li{
        text-align: center;
    }
    #c2{
        width: 100%;
    }
    
}
#navbar{
    background-color: #17a2b8;
}