.home{
    background-color: #0b4d57;
}
.carousel{
    background-color: #0b4d57;
    text-align: center;
 }
 
 #redes{
    margin-right: 20px;
    color: #0b4d57;
 }
 #copy{
    margin-left: 20px;
 }
 #imagen{
    text-align: center;
 }


#rede{
    color: white;
}
section{
    width: 100%;
    background-color: white;
}