<h2>Registro de usuario</h2>
<form [formGroup]="formAlta" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Sucursal</label>
        <input type="text" class="form-control" formControlName="sucursal">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre_Coche</label>
        <input type="text" class="form-control" formControlName="nombre_coche">
    </div>
    <div class="mb-3">
        <label class="form-label">Marca</label>
        <input type="text" class="form-control" formControlName="marca">
    </div>
    <div class="mb-3">
        <label class="form-label">Año</label>
        <input type="string" class="form-control" formControlName="anio">
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input type="text" class="form-control" formControlName="tipo">
    </div>
    <div class="mb-3">
        <label class="form-label">Transmision</label>
        <input type="text" class="form-control" formControlName="transmision">
    </div>
    <div class="mb-3">
        <label class="form-label">Color</label>
        <input type="text" class="form-control" formControlName="color">
    </div>
    <div class="mb-3">
        <label class="form-label">Url Video Reseña</label>
        <input type="text" class="form-control" formControlName="url">
    </div>
    <div class="mb-3">
        <label class="form-label">Ocupa Mantenimiento</label>
        <input type="text" class="form-control" formControlName="mantenimiento">
    </div>
    <div class="mb-3">
        <label class="form-label">Disponibilidad</label>
        <input type="text" class="form-control" formControlName="disponibilidad">
    </div>
    <input type="submit" value="Enviar">
</form>
