<section>
    <h3 class="text-center mb-4 pb-2 fw-bold">Preguntas Frecuentes</h3>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="far fa-paper-plane text-primary pe-2"></i>¿Puedo recoger el auto en una ciudad 
          y entregarlo en otra?</h6>
        <p>
          Sí es posible recoger el auto en una ciudad y entregarlo en otra, siempre y 
          cuando exista una oficina de Zibory México en las dos ciudades. 
          Debes tener en cuenta que esto puede aplicar cargos extras en tu alquiler.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="fas fa-pen-alt text-primary pe-2"></i> ¿Cuál es el tiempo 
          mínimo de renta?</h6>
        <p>
          El tiempo mínimo de renta en Zibory México es de 24 horas.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="fas fa-user text-primary pe-2"></i> ¿Existe algún límite de edad 
          para rentar un automóvil?
        </h6>
        <p>
          El Titular del contrato de arrendamiento del auto debe ser mayor de 25 años. 
          En caso de tener entre 18 y 24 años se aplican cargos adicionales.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="fas fa-rocket text-primary pe-2"></i> ¿Necesito dejar algo cómo
           garantía para rentar un auto?
        </h6>
        <p>
          Se hace una retención de dinero en su Tarjeta de Crédito que será liberado 
          una vez que el auto sea entregado sin inconvenientes.
           El monto de la retención dependerá de el vehículo que contrates y de las coberturas que adquieras con él.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="fas fa-home text-primary pe-2"></i> ¿Cuánto me van a retener en mi Tarjeta de Crédito?
        </h6>
        <p>El monto de la retención depende del vehículo que contrates y de las coberturas que adquieras en el alquiler.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h6 class="mb-3 "><i class="fas fa-book-open text-primary pe-2"></i> ¿Puedo sacar el auto de este estado y llevarlo a otro?</h6>
        <p>
          Nuestras unidades pueden circular sin restricciones por todo el país. Si necesitas entrar desde el interior a la 
          CDMX déjanos saber para asegurar que tengas la verificación o pase turístico.
        </p>
      </div>
    </div>
  </section>
