<div class="container">
    <div class="row g-3" >
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let i of array">
            <div class="card">
                <img src="{{i.imagen}}" class="card-img-top" alt="">
                <div class="card-body text-center">
                    
                    <h3 class="card-title text-center">{{i.marca | uppercase}} {{i.nombre_coche | uppercase}} </h3>
                    <ngx-qrcode class="text-center"
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  value="{{i.url}}"
  cssClass="bshadow"></ngx-qrcode>
                    <button type="button" class="btn btn-success " (click)="funcion(i)">Informacion</button>
                </div>
            </div>
           
        </div>
        
    </div>
  </div>