<h3>Renta de Autos</h3>
<div>
    <h2>Autos</h2>
    <div *ngIf="!principal.length">No hay productos por el momento</div>
    <table *ngIf="principal.length" class="table table-light table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <td>Nombre</td>
          <td>Marca</td>
          <td>Sucursal</td>
          <td>Accion</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of principal">
            <td>{{ product.nombre_coche  }}</td>
            <td>{{ product.marca }}</td>
            <td>{{ product.sucursal }}</td>
            <td><button class="btn btn-outline-danger" (click)="editar(product)" data-toggle="modal" data-target="#modelId" >Editar</button></td>

        </tr>
        
      </tbody>
    </table>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
  Launch 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>